In [140]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [141]:
import warnings
warnings.filterwarnings("ignore")

In [142]:
import pandas as pd

# Load each CSV file
for_hire_vehicle_data = pd.read_csv('/Users/disastershubz/Documents/PROJECT/For-Hire Vehicle Trip Records .csv')
green_taxi_data = pd.read_csv('/Users/disastershubz/Documents/PROJECT/green_tripdata_2024-07.csv')
citibike_data = pd.read_csv('/Users/disastershubz/Documents/PROJECT/JC-202407-citibike-tripdata.csv')
yellow_taxi_data = pd.read_csv('/Users/disastershubz/Documents/PROJECT/yellow_tripdata_2024-07.csv')

In [143]:
for_hire_vehicle_data.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2024-07-01 00:30:00,2024-07-01 01:06:00,NaN,NaN,NaN,B00789
1,B00111,2024-07-01 00:35:00,2024-07-01 01:11:00,NaN,NaN,NaN,B00111
2,B00271,2024-07-01 00:05:01,2024-07-01 00:25:30,NaN,234.0,NaN,B03404
3,B00271,2024-07-01 00:48:50,2024-07-01 00:55:01,NaN,261.0,NaN,B03404
4,B00271,2024-07-01 00:20:42,2024-07-01 00:45:38,NaN,61.0,NaN,B00271

In [144]:
green_taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-07-01 00:44:19,2024-07-01 01:14:35,N,1.0,80,100,2.0,8.20,38.0,1.0,0.5,2.00,0.0,NaN,1.0,45.25,1.0,1.0,2.75
1,2,2024-07-01 00:26:06,2024-07-01 00:51:58,N,1.0,66,89,1.0,7.87,36.6,1.0,0.5,7.82,0.0,NaN,1.0,46.92,1.0,1.0,0.00
2,2,2024-07-01 00:36:44,2024-07-01 00:46:07,N,1.0,129,260,1.0,0.96,8.6,1.0,0.5,0.00,0.0,NaN,1.0,11.10,2.0,1.0,0.00
3,2,2024-07-01 00:35:40,2024-07-01 00:47:47,N,1.0,42,120,1.0,5.73,24.0,1.0,0.5,0.00,0.0,NaN,1.0,26.50,1.0,1.0,0.00
4,2,2024-07-01 00:36:53,2024-07-01 00:56:58,N,1.0,152,185,1.0,8.62,35.2,1.0,0.5,11.31,0.0,NaN,1.0,49.01,1.0,1.0,0.00

In [145]:
yellow_taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-07-01 00:34:56,2024-07-01 00:46:49,1.0,3.20,1.0,N,140,79,1,15.6,3.50,0.5,3.50,0.00,1.0,24.10,2.5,0.00
1,2,2024-06-30 23:48:58,2024-07-01 00:28:04,1.0,19.48,2.0,N,132,113,2,70.0,0.00,0.5,0.00,0.00,1.0,75.75,2.5,1.75
2,2,2024-07-01 00:23:18,2024-07-01 00:29:51,1.0,1.18,1.0,N,237,145,1,8.6,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00
3,1,2024-07-01 00:10:33,2024-07-01 00:27:31,0.0,9.10,1.0,N,138,164,1,36.6,10.25,0.5,12.05,0.00,1.0,60.40,2.5,1.75
4,1,2024-07-01 00:07:55,2024-07-01 00:34:34,1.0,17.70,2.0,N,132,263,1,70.0,1.75,0.5,10.00,6.94,1.0,90.19,0.0,1.75

In [146]:
citibike_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6B61E4880B1DE1E9,electric_bike,2024-07-31 12:06:49.628,2024-07-31 12:23:59.876,14 St Ferry - 14 St & Shipyard Ln,HB202,Brunswick & 6th,JC081,40.752961,-74.024353,40.726012,-74.050389,member
1,B593705A700E04B9,electric_bike,2024-07-01 07:53:20.019,2024-07-01 08:13:56.570,Leonard Gordon Park,JC080,McGinley Square,JC055,40.745717,-74.057247,40.725340,-74.067622,member
2,19CFBBAF90BF45B8,electric_bike,2024-07-30 14:57:29.219,2024-07-30 15:10:49.553,Liberty Light Rail,JC052,Hoboken Ave at Monmouth St,JC105,40.711242,-74.055701,40.735208,-74.046964,casual
3,8E6563C41AA8A1B4,electric_bike,2024-07-17 17:02:20.147,2024-07-17 17:04:50.818,Grand St & 14 St,HB506,Madison St & 10 St,HB503,40.754090,-74.031600,40.749943,-74.035865,member
4,44065C7E4AE573FA,electric_bike,2024-07-20 17:19:44.970,2024-07-20 17:39:09.894,Hoboken Terminal - River St & Hudson Pl,HB102,Madison St & 10 St,HB503,40.736068,-74.029127,40.749943,-74.035865,casual

In [147]:
for_hire_vehicle_data.shape

(1382739, 7)

In [148]:
green_taxi_data.shape

(51837, 20)

In [149]:
yellow_taxi_data.shape

(3076903, 19)

In [150]:
citibike_data.shape

(112443, 13)

In [151]:
# Load the lookup table that maps PULocationID to Zone and Borough (for taxis)
taxi_zones = pd.read_csv('/Users/disastershubz/Documents/PROJECT/taxi_zones.csv')

In [152]:
taxi_zones.head()

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island

In [153]:
taxi_zones.shape

(263, 7)

In [154]:
# Load the CitiBike station lookup table that maps start_station_id to station names and location (for CitiBike)
citibike_stations = pd.read_csv('/Users/disastershubz/Documents/PROJECT/citibike-stations.csv')

In [155]:
citibike_stations.head()

,capacity,eightd_has_key_dispenser,electric_bike_surcharge_waiver,external_id,has_kiosk,lat,lon,name,region_id,rental_methods,rental_url,short_name,station_id
0,66,True,False,66db5fae-0aca-11e7-82f6-3863bb44ef7c,True,40.764397,-73.973715,Grand Army Plaza & Central Park S,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,6839.1,281
1,33,True,False,66db6da2-0aca-11e7-82f6-3863bb44ef7c,True,40.704633,-74.013617,Broadway & Battery Pl,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,4962.01,304
2,64,False,False,66dbc982-0aca-11e7-82f6-3863bb44ef7c,True,40.755103,-73.974987,E 47 St & Park Ave,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,6584.12,359
3,45,False,False,66dbe441-0aca-11e7-82f6-3863bb44ef7c,True,40.722438,-74.005664,6 Ave & Canal St,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,5500.07,377
4,36,False,False,66dbe601-0aca-11e7-82f6-3863bb44ef7c,True,40.734927,-73.992005,University Pl & E 14 St,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,5905.11,382

In [156]:
citibike_stations.shape

(816, 13)

# data cleaning

In [158]:
# for green taxi data cleaning

In [159]:
green_taxi_data['lpep_pickup_datetime'] = pd.to_datetime(green_taxi_data['lpep_pickup_datetime'], errors='coerce')
green_taxi_data['lpep_dropoff_datetime'] = pd.to_datetime(green_taxi_data['lpep_dropoff_datetime'], errors='coerce')

# Convert categorical columns to category type
categorical_cols = ['VendorID', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 
                    'DOLocationID', 'payment_type', 'trip_type']
for col in categorical_cols:
    green_taxi_data[col] = green_taxi_data[col].astype('category')

# Convert other numerical columns where applicable
numerical_cols = ['passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 
                  'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 
                  'congestion_surcharge']
for col in numerical_cols:
    green_taxi_data[col] = pd.to_numeric(green_taxi_data[col], errors='coerce')

# Handle missing values
# Example: fill missing values for tolls and fees with 0, as they may not apply to all rides
green_taxi_data['tolls_amount'].fillna(0, inplace=True)
green_taxi_data['ehail_fee'].fillna(0, inplace=True)
green_taxi_data['congestion_surcharge'].fillna(0, inplace=True)

# Drop rows with missing dates or where dropoff is before pickup
green_taxi_data.dropna(subset=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], inplace=True)
green_taxi_data = green_taxi_data[green_taxi_data['lpep_dropoff_datetime'] >= green_taxi_data['lpep_pickup_datetime']]

# Additional consistency checks
# Ensure passenger_count is reasonable (e.g., between 1 and 6 for typical ride-hailing vehicles)
green_taxi_data = green_taxi_data[(green_taxi_data['passenger_count'] > 0) & (green_taxi_data['passenger_count'] <= 6)]

# Ensure trip_distance is positive
green_taxi_data = green_taxi_data[green_taxi_data['trip_distance'] > 0]

# Final preview of cleaned data
print("Cleaned DataFrame:")
print(green_taxi_data.head())

Cleaned DataFrame:
  VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0        2  2024-07-01 00:44:19   2024-07-01 01:14:35                  N
1        2  2024-07-01 00:26:06   2024-07-01 00:51:58                  N
2        2  2024-07-01 00:36:44   2024-07-01 00:46:07                  N
3        2  2024-07-01 00:35:40   2024-07-01 00:47:47                  N
4        2  2024-07-01 00:36:53   2024-07-01 00:56:58                  N

  RatecodeID PULocationID DOLocationID  passenger_count  trip_distance  \
0        1.0           80          100              2.0           8.20
1        1.0           66           89              1.0           7.87
2        1.0          129          260              1.0           0.96
3        1.0           42          120              1.0           5.73
4        1.0          152          185              1.0           8.62

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         38.0    1.0      0.5        2.00           0.0        0.0
1         36.6    1.0      0.5        7.82           0.0        0.0
2          8.6    1.0      0.5        0.00           0.0        0.0
3         24.0    1.0      0.5        0.00           0.0        0.0
4         35.2    1.0      0.5       11.31           0.0        0.0

   improvement_surcharge  total_amount payment_type trip_type  \
0                    1.0         45.25          1.0       1.0
1                    1.0         46.92          1.0       1.0
2                    1.0         11.10          2.0       1.0
3                    1.0         26.50          1.0       1.0
4                    1.0         49.01          1.0       1.0

   congestion_surcharge
0                  2.75
1                  0.00
2                  0.00
3                  0.00
4                  0.00

In [160]:
# for yellow taxi

In [161]:
import pandas as pd
import numpy as np

# Assuming 'yellow_taxi_data' is your DataFrame
# Convert date columns to datetime format
yellow_taxi_data['tpep_pickup_datetime'] = pd.to_datetime(yellow_taxi_data['tpep_pickup_datetime'], errors='coerce')
yellow_taxi_data['tpep_dropoff_datetime'] = pd.to_datetime(yellow_taxi_data['tpep_dropoff_datetime'], errors='coerce')

# Convert categorical columns to category type
categorical_cols = ['VendorID', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 
                    'DOLocationID', 'payment_type']
for col in categorical_cols:
    yellow_taxi_data[col] = yellow_taxi_data[col].astype('category')

# Convert other numerical columns where applicable
numerical_cols = ['passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 
                  'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 
                  'congestion_surcharge', 'Airport_fee']
for col in numerical_cols:
    yellow_taxi_data[col] = pd.to_numeric(yellow_taxi_data[col], errors='coerce')

# Step 2: Handle Missing Values
# Fill missing values for tolls and fees with 0
yellow_taxi_data['tolls_amount'].fillna(0, inplace=True)
yellow_taxi_data['Airport_fee'].fillna(0, inplace=True)
yellow_taxi_data['congestion_surcharge'].fillna(0, inplace=True)

# Drop rows with missing dates or where dropoff is before pickup
yellow_taxi_data.dropna(subset=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace=True)
yellow_taxi_data = yellow_taxi_data[yellow_taxi_data['tpep_dropoff_datetime'] >= yellow_taxi_data['tpep_pickup_datetime']]

# Step 3: Additional Consistency Checks
# Ensure passenger_count is reasonable (e.g., between 1 and 6 for typical taxis)
yellow_taxi_data = yellow_taxi_data[(yellow_taxi_data['passenger_count'] > 0) & (yellow_taxi_data['passenger_count'] <= 6)]

# Ensure trip_distance is positive
yellow_taxi_data = yellow_taxi_data[yellow_taxi_data['trip_distance'] > 0]

# Final preview of cleaned data
print("Cleaned Yellow Taxi Data:")
print(yellow_taxi_data.head())

Cleaned Yellow Taxi Data:
  VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0        1  2024-07-01 00:34:56   2024-07-01 00:46:49              1.0
1        2  2024-06-30 23:48:58   2024-07-01 00:28:04              1.0
2        2  2024-07-01 00:23:18   2024-07-01 00:29:51              1.0
4        1  2024-07-01 00:07:55   2024-07-01 00:34:34              1.0
5        2  2024-07-01 00:19:42   2024-07-01 00:32:13              1.0

   trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID  \
0           3.20        1.0                  N          140           79
1          19.48        2.0                  N          132          113
2           1.18        1.0                  N          237          145
4          17.70        2.0                  N          132          263
5           2.21        1.0                  N          114          170

  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0            1         15.6   3.50      0.5        3.50          0.00
1            2         70.0   0.00      0.5        0.00          0.00
2            1          8.6   1.00      0.5        2.72          0.00
4            1         70.0   1.75      0.5       10.00          6.94
5            2         14.9   1.00      0.5        0.00          0.00

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         24.10                   2.5         0.00
1                    1.0         75.75                   2.5         1.75
2                    1.0         16.32                   2.5         0.00
4                    1.0         90.19                   0.0         1.75
5                    1.0         19.90                   2.5         0.00

In [162]:
# for citi bike

In [163]:
import pandas as pd
import numpy as np

# Assuming 'citibike_data' is your DataFrame
# Convert date columns to datetime format
citibike_data['started_at'] = pd.to_datetime(citibike_data['started_at'], errors='coerce')
citibike_data['ended_at'] = pd.to_datetime(citibike_data['ended_at'], errors='coerce')

# Convert categorical columns to category type
categorical_cols = ['rideable_type', 'member_casual']
for col in categorical_cols:
    citibike_data[col] = citibike_data[col].astype('category')

# Step 2: Handle Missing Values
# Drop rows with missing critical data
citibike_data.dropna(subset=['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id'], inplace=True)

# Optional: Fill missing station names/IDs and coordinates with placeholders if they are not critical
citibike_data['end_station_name'].fillna('Unknown', inplace=True)
citibike_data['end_station_id'].fillna('Unknown', inplace=True)
citibike_data['end_lat'].fillna(citibike_data['start_lat'], inplace=True)
citibike_data['end_lng'].fillna(citibike_data['start_lng'], inplace=True)

# Step 3: Additional Consistency Checks
# Ensure the end time is after the start time
citibike_data = citibike_data[citibike_data['ended_at'] >= citibike_data['started_at']]

# Verify latitude and longitude are within valid ranges
citibike_data = citibike_data[(citibike_data['start_lat'].between(-90, 90)) &
                              (citibike_data['start_lng'].between(-180, 180)) &
                              (citibike_data['end_lat'].between(-90, 90)) &
                              (citibike_data['end_lng'].between(-180, 180))]

# Final preview of cleaned data
print("Cleaned Citi Bike Data:")
print(citibike_data.head())

Cleaned Citi Bike Data:
            ride_id  rideable_type              started_at  \
0  6B61E4880B1DE1E9  electric_bike 2024-07-31 12:06:49.628
1  B593705A700E04B9  electric_bike 2024-07-01 07:53:20.019
2  19CFBBAF90BF45B8  electric_bike 2024-07-30 14:57:29.219
3  8E6563C41AA8A1B4  electric_bike 2024-07-17 17:02:20.147
4  44065C7E4AE573FA  electric_bike 2024-07-20 17:19:44.970

                 ended_at                       start_station_name  \
0 2024-07-31 12:23:59.876        14 St Ferry - 14 St & Shipyard Ln
1 2024-07-01 08:13:56.570                      Leonard Gordon Park
2 2024-07-30 15:10:49.553                       Liberty Light Rail
3 2024-07-17 17:04:50.818                         Grand St & 14 St
4 2024-07-20 17:39:09.894  Hoboken Terminal - River St & Hudson Pl

  start_station_id            end_station_name end_station_id  start_lat  \
0            HB202             Brunswick & 6th          JC081  40.752961
1            JC080             McGinley Square          JC055  40.745717
2            JC052  Hoboken Ave at Monmouth St          JC105  40.711242
3            HB506          Madison St & 10 St          HB503  40.754090
4            HB102          Madison St & 10 St          HB503  40.736068

   start_lng    end_lat    end_lng member_casual
0 -74.024353  40.726012 -74.050389        member
1 -74.057247  40.725340 -74.067622        member
2 -74.055701  40.735208 -74.046964        casual
3 -74.031600  40.749943 -74.035865        member
4 -74.029127  40.749943 -74.035865        casual

In [164]:
# for taxi zone

In [165]:
import pandas as pd
import numpy as np

# Assuming 'taxi_zones' is your DataFrame
# Convert columns to appropriate data types
taxi_zones['OBJECTID'] = pd.to_numeric(taxi_zones['OBJECTID'], errors='coerce', downcast='integer')
taxi_zones['LocationID'] = pd.to_numeric(taxi_zones['LocationID'], errors='coerce', downcast='integer')
taxi_zones['Shape_Leng'] = pd.to_numeric(taxi_zones['Shape_Leng'], errors='coerce')
taxi_zones['Shape_Area'] = pd.to_numeric(taxi_zones['Shape_Area'], errors='coerce')

# Convert categorical columns to category type
categorical_cols = ['zone', 'borough']
for col in categorical_cols:
    taxi_zones[col] = taxi_zones[col].astype('category')

# Step 2: Handle Missing Values
# Drop rows with missing critical fields
taxi_zones.dropna(subset=['OBJECTID', 'LocationID', 'zone', 'borough'], inplace=True)

# Fill missing values in non-critical columns with placeholders or zero if they represent measurements
taxi_zones['Shape_Leng'].fillna(0, inplace=True)
taxi_zones['Shape_Area'].fillna(0, inplace=True)
taxi_zones['the_geom'].fillna('Unknown', inplace=True)

# Step 3: Geographic Consistency Checks
# Ensure Shape_Leng and Shape_Area are positive
taxi_zones = taxi_zones[(taxi_zones['Shape_Leng'] > 0) & (taxi_zones['Shape_Area'] > 0)]

# Final preview of cleaned data
print("Cleaned Taxi Zone Data:")
print(taxi_zones.head())

Cleaned Taxi Zone Data:
   OBJECTID  Shape_Leng                                           the_geom  \
0         1    0.116357  MULTIPOLYGON (((-74.18445299999996 40.69499599...
1         2    0.433470  MULTIPOLYGON (((-73.82337597260663 40.63898704...
2         3    0.084341  MULTIPOLYGON (((-73.84792614099985 40.87134223...
3         4    0.043567  MULTIPOLYGON (((-73.97177410965318 40.72582128...
4         5    0.092146  MULTIPOLYGON (((-74.17421738099989 40.56256808...

   Shape_Area                     zone  LocationID        borough
0    0.000782           Newark Airport           1            EWR
1    0.004866              Jamaica Bay           2         Queens
2    0.000314  Allerton/Pelham Gardens           3          Bronx
3    0.000112            Alphabet City           4      Manhattan
4    0.000498            Arden Heights           5  Staten Island

In [166]:
# For citi bike data

In [167]:
import pandas as pd
import numpy as np

# Assuming 'citibike_stations' is your DataFrame
# Convert columns to appropriate data types
citibike_stations['capacity'] = pd.to_numeric(citibike_stations['capacity'], errors='coerce', downcast='integer')
citibike_stations['station_id'] = pd.to_numeric(citibike_stations['station_id'], errors='coerce', downcast='integer')
citibike_stations['lat'] = pd.to_numeric(citibike_stations['lat'], errors='coerce')
citibike_stations['lon'] = pd.to_numeric(citibike_stations['lon'], errors='coerce')

# Convert boolean columns
boolean_cols = ['eightd_has_key_dispenser', 'electric_bike_surcharge_waiver', 'has_kiosk']
for col in boolean_cols:
    citibike_stations[col] = citibike_stations[col].astype(bool)

# Convert categorical columns to category type
categorical_cols = ['name', 'region_id']
for col in categorical_cols:
    citibike_stations[col] = citibike_stations[col].astype('category')

# Step 2: Handle Missing Values
# Drop rows with missing critical fields
citibike_stations.dropna(subset=['station_id', 'lat', 'lon', 'name'], inplace=True)

# Optional: Fill missing rental methods and rental URL with placeholders if they are not critical
citibike_stations['rental_methods'].fillna('Unknown', inplace=True)
citibike_stations['rental_url'].fillna('No URL', inplace=True)

# Step 3: Consistency Checks
# Ensure lat and lon are within valid ranges
citibike_stations = citibike_stations[(citibike_stations['lat'].between(-90, 90)) & 
                                      (citibike_stations['lon'].between(-180, 180))]

# Ensure capacity is positive
citibike_stations = citibike_stations[citibike_stations['capacity'] > 0]

# Final preview of cleaned data
print("Cleaned Citi Bike Stations Data:")
print(citibike_stations.head())

Cleaned Citi Bike Stations Data:
   capacity  eightd_has_key_dispenser  electric_bike_surcharge_waiver  \
0        66                      True                           False
1        33                      True                           False
2        64                     False                           False
3        45                     False                           False
4        36                     False                           False

                            external_id  has_kiosk        lat        lon  \
0  66db5fae-0aca-11e7-82f6-3863bb44ef7c       True  40.764397 -73.973715
1  66db6da2-0aca-11e7-82f6-3863bb44ef7c       True  40.704633 -74.013617
2  66dbc982-0aca-11e7-82f6-3863bb44ef7c       True  40.755103 -73.974987
3  66dbe441-0aca-11e7-82f6-3863bb44ef7c       True  40.722438 -74.005664
4  66dbe601-0aca-11e7-82f6-3863bb44ef7c       True  40.734927 -73.992005

                                name region_id         rental_methods  \
0  Grand Army Plaza & Central Park S        71  ['KEY', 'CREDITCARD']
1              Broadway & Battery Pl        71  ['KEY', 'CREDITCARD']
2                 E 47 St & Park Ave        71  ['KEY', 'CREDITCARD']
3                   6 Ave & Canal St        71  ['KEY', 'CREDITCARD']
4            University Pl & E 14 St        71  ['KEY', 'CREDITCARD']

                                          rental_url short_name  station_id
0  http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...     6839.1         281
1  http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...    4962.01         304
2  http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...    6584.12         359
3  http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...    5500.07         377
4  http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...    5905.11         382

In [168]:
green_taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-07-01 00:44:19,2024-07-01 01:14:35,N,1.0,80,100,2.0,8.20,38.0,1.0,0.5,2.00,0.0,0.0,1.0,45.25,1.0,1.0,2.75
1,2,2024-07-01 00:26:06,2024-07-01 00:51:58,N,1.0,66,89,1.0,7.87,36.6,1.0,0.5,7.82,0.0,0.0,1.0,46.92,1.0,1.0,0.00
2,2,2024-07-01 00:36:44,2024-07-01 00:46:07,N,1.0,129,260,1.0,0.96,8.6,1.0,0.5,0.00,0.0,0.0,1.0,11.10,2.0,1.0,0.00
3,2,2024-07-01 00:35:40,2024-07-01 00:47:47,N,1.0,42,120,1.0,5.73,24.0,1.0,0.5,0.00,0.0,0.0,1.0,26.50,1.0,1.0,0.00
4,2,2024-07-01 00:36:53,2024-07-01 00:56:58,N,1.0,152,185,1.0,8.62,35.2,1.0,0.5,11.31,0.0,0.0,1.0,49.01,1.0,1.0,0.00

In [169]:
yellow_taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-07-01 00:34:56,2024-07-01 00:46:49,1.0,3.20,1.0,N,140,79,1,15.6,3.50,0.5,3.50,0.00,1.0,24.10,2.5,0.00
1,2,2024-06-30 23:48:58,2024-07-01 00:28:04,1.0,19.48,2.0,N,132,113,2,70.0,0.00,0.5,0.00,0.00,1.0,75.75,2.5,1.75
2,2,2024-07-01 00:23:18,2024-07-01 00:29:51,1.0,1.18,1.0,N,237,145,1,8.6,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00
4,1,2024-07-01 00:07:55,2024-07-01 00:34:34,1.0,17.70,2.0,N,132,263,1,70.0,1.75,0.5,10.00,6.94,1.0,90.19,0.0,1.75
5,2,2024-07-01 00:19:42,2024-07-01 00:32:13,1.0,2.21,1.0,N,114,170,2,14.9,1.00,0.5,0.00,0.00,1.0,19.90,2.5,0.00

In [170]:
citibike_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6B61E4880B1DE1E9,electric_bike,2024-07-31 12:06:49.628,2024-07-31 12:23:59.876,14 St Ferry - 14 St & Shipyard Ln,HB202,Brunswick & 6th,JC081,40.752961,-74.024353,40.726012,-74.050389,member
1,B593705A700E04B9,electric_bike,2024-07-01 07:53:20.019,2024-07-01 08:13:56.570,Leonard Gordon Park,JC080,McGinley Square,JC055,40.745717,-74.057247,40.725340,-74.067622,member
2,19CFBBAF90BF45B8,electric_bike,2024-07-30 14:57:29.219,2024-07-30 15:10:49.553,Liberty Light Rail,JC052,Hoboken Ave at Monmouth St,JC105,40.711242,-74.055701,40.735208,-74.046964,casual
3,8E6563C41AA8A1B4,electric_bike,2024-07-17 17:02:20.147,2024-07-17 17:04:50.818,Grand St & 14 St,HB506,Madison St & 10 St,HB503,40.754090,-74.031600,40.749943,-74.035865,member
4,44065C7E4AE573FA,electric_bike,2024-07-20 17:19:44.970,2024-07-20 17:39:09.894,Hoboken Terminal - River St & Hudson Pl,HB102,Madison St & 10 St,HB503,40.736068,-74.029127,40.749943,-74.035865,casual

In [171]:
taxi_zones.head()

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island

In [172]:
citibike_stations.head()

,capacity,eightd_has_key_dispenser,electric_bike_surcharge_waiver,external_id,has_kiosk,lat,lon,name,region_id,rental_methods,rental_url,short_name,station_id
0,66,True,False,66db5fae-0aca-11e7-82f6-3863bb44ef7c,True,40.764397,-73.973715,Grand Army Plaza & Central Park S,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,6839.1,281
1,33,True,False,66db6da2-0aca-11e7-82f6-3863bb44ef7c,True,40.704633,-74.013617,Broadway & Battery Pl,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,4962.01,304
2,64,False,False,66dbc982-0aca-11e7-82f6-3863bb44ef7c,True,40.755103,-73.974987,E 47 St & Park Ave,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,6584.12,359
3,45,False,False,66dbe441-0aca-11e7-82f6-3863bb44ef7c,True,40.722438,-74.005664,6 Ave & Canal St,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,5500.07,377
4,36,False,False,66dbe601-0aca-11e7-82f6-3863bb44ef7c,True,40.734927,-73.992005,University Pl & E 14 St,71,"['KEY', 'CREDITCARD']",http://app.citibikenyc.com/S6Lr/IBV092JufD?sta...,5905.11,382

In [173]:
green_taxi_data.shape

(46827, 20)

In [174]:
yellow_taxi_data.shape

(2729770, 19)

In [175]:
citibike_data.shape

(112443, 13)

In [176]:
taxi_zones.shape

(263, 7)

In [177]:
citibike_stations.shape

(812, 13)

In [178]:
green_taxi_data.to_csv("/Users/disastershubz/Documents/PROJECT/green_taxi_data.csv", index=False)

In [179]:
yellow_taxi_data.to_csv("/Users/disastershubz/Documents/PROJECT/yellow_taxi_data.csv", index=False)

In [180]:
citibike_data.to_csv("/Users/disastershubz/Documents/PROJECT/citibike_data.csv", index=False)

In [181]:
taxi_zones.to_csv("/Users/disastershubz/Documents/PROJECT/taxi_zones.csv", index=False)

In [182]:
citibike_stations.to_csv("/Users/disastershubz/Documents/PROJECT/citibike_stations.csv", index=False)

# How can we help travelers determine the most economical transport option for their journey, and how can this inform our service offerings?

In [259]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Define constants for estimated speeds, base fares, and CitiBike fare structure
TAXI_AVG_SPEED = 15  # mph for taxis
BIKE_AVG_SPEED = 10  # mph for CitiBike
CITIBIKE_BASE_FARE = 4.79  # Base fare for first 30 minutes of CitiBike
CITIBIKE_EXTRA_COST = 0.15  # Cost per minute after 30 mins for CitiBike
YELLOW_TAXI_BASE_FARE = 2.50  # Base fare for Yellow Taxis
GREEN_TAXI_BASE_FARE = 2.75   # Base fare for Green Taxis
YELLOW_TAXI_FARE_PER_MILE = 2.50  # Fare per mile for Yellow Taxi
GREEN_TAXI_FARE_PER_MILE = 2.75   # Fare per mile for Green Taxi

# Function to prepare taxi data with relevant features
def prepare_data_for_model(taxi_data):
    taxi_data['hour'] = taxi_data['tpep_pickup_datetime'].dt.hour
    taxi_data['day_of_week'] = taxi_data['tpep_pickup_datetime'].dt.dayofweek
    return taxi_data[['trip_distance', 'passenger_count', 'hour', 'day_of_week']], taxi_data['fare_amount']

# Train a fare prediction model for yellow taxis
# Assume `yellow_taxi_data` DataFrame is already loaded and cleaned as per your setup
X, y = prepare_data_for_model(yellow_taxi_data)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
yellow_model = LinearRegression()
yellow_model.fit(X_train, y_train)

# Function to calculate trip cost and time estimates
def calculate_trip_cost_and_time(mode, distance, pickup_hour):
    # Apply surge factor for peak hours
    surge_factor = 1.5 if pickup_hour in range(7, 10) or pickup_hour in range(16, 19) else 1.0

    if mode == 'yellow_taxi':
        # Calculate fare using the yellow taxi base fare and per-mile rate
        fare = (YELLOW_TAXI_BASE_FARE + YELLOW_TAXI_FARE_PER_MILE * distance) * surge_factor
        travel_time = (distance / TAXI_AVG_SPEED) * 60  # Convert to minutes
    elif mode == 'green_taxi':
        # Calculate fare using the green taxi base fare and per-mile rate
        fare = (GREEN_TAXI_BASE_FARE + GREEN_TAXI_FARE_PER_MILE * distance) * surge_factor
        travel_time = (distance / TAXI_AVG_SPEED) * 60  # Convert to minutes
    elif mode == 'citibike':
        # CitiBike has a base fare for the first 30 minutes
        travel_time = (distance / BIKE_AVG_SPEED) * 60  # Convert to minutes
        if travel_time <= 30:
            fare = CITIBIKE_BASE_FARE
        else:
            # Add additional costs for each minute over 30 minutes
            extra_time = travel_time - 30
            fare = CITIBIKE_BASE_FARE + extra_time * CITIBIKE_EXTRA_COST
    else:
        fare = float('inf')
        travel_time = None

    return fare, travel_time

# Recommendation function to provide the most economical option
def recommend_transport_option(distance, pickup_hour):
    options = []
    for mode in ['yellow_taxi', 'green_taxi', 'citibike']:
        fare, time = calculate_trip_cost_and_time(mode, distance, pickup_hour)
        options.append({'mode': mode, 'cost': fare, 'time': time})

    # Identify the most economical and fastest option
    cheapest_option = min(options, key=lambda x: x['cost'])
    fastest_option = min(options, key=lambda x: x['time'])

    print(f"Options for a {distance} mile trip at {pickup_hour}:00:")
    for option in options:
        print(f"- {option['mode'].capitalize()}: Cost = ${option['cost']:.2f}, Time = {option['time']:.2f} mins")
    
    print(f"\nCheapest option: {cheapest_option['mode']} - Cost: ${cheapest_option['cost']:.2f}")
    print(f"Fastest option: {fastest_option['mode']} - Time: {fastest_option['time']:.2f} mins")

# Example usage
recommend_transport_option(distance=4.2, pickup_hour=datetime.now().hour)

Options for a 4.2 mile trip at 20:00:
- Yellow_taxi: Cost = $13.00, Time = 16.80 mins
- Green_taxi: Cost = $14.30, Time = 16.80 mins
- Citibike: Cost = $4.79, Time = 25.20 mins

Cheapest option: citibike - Cost: $4.79
Fastest option: yellow_taxi - Time: 16.80 mins